.header
    height: 70px
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #DFDFDF
    &_nav
        display: flex
        width: 1047px
        &_icon
            margin-top: 5px
            margin-right: 57px
            margin-left: 10px
            width: 71px
            height: 63px
            cursor: pointer
        &_menu
            display: flex
            justify-content: space-between
            text-transform: uppercase
            color: #000
            width: 100%
            display: flex
            font-size: 16px
            line-height: 70px
            font-weight: 500
            &_logos
                display: none
            &_item
                cursor: pointer
            &_icon
                width: 200px
                height: 200px
                display: none
            &_socials
                display: none
            &_close
                position: absolute
                width: 40px
                height: 40px
                right: 10px
                top: 15px
                display: none
                cursor: pointer
                span
                    display: block
                    width: 40px
                    height: 3px
                    background-color: #000
                    &:first-child
                        transform: translateY(17px) translateX(-6px) rotateZ(-45deg)
                    &:last-child
                        transform: translateY(14px) translateX(-6px)rotateZ(45deg)
                        
    &_account
        display: flex
        flex-direction: row
        align-items: center
        &_share
            height: 27px
            width: 27px
            border: none
            background-color: #fff
            margin-right: 43px
            cursor: pointer
        &_reg
            padding: 16px 30px
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            color: #fff
            width: 279px
            height: 70px
            background-color: #3A3F6B
            border: none
            cursor: pointer
        &_login
            padding: 19px 26px
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            color: #fff
            width: 249px
            height: 70px
            background-color: #d42525
            border: none
            cursor: pointer
    .hamburger
        display: none